<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Hi, I'm Sourov</h3>
    <p class="lead">I'm a passionate software developer interested in web development, machine learning and tons of other stuff. I love to work with algorithms and build things using deep learning / machine learning technology and preserve them in my <a href="https://{{ site.github }}">GitHub</a> profile. Sometimes I write about them on <a href="/blog">my blog</a>.</p>
  </div>
  <div class="col-md-6">
    <img class="circular-square" src="/assets/images/Profile.JPG" alt="Profile" width="100%">
  </div>
</div>
